extends layout/app

block page 
  include chunk/header
  include chunk/advantages
  include chunk/history
  include chunk/services
  include chunk/recent
  include chunk/case-study
  include chunk/counts
  include chunk/price
  include chunk/team
  include chunk/integrations
  include chunk/blog
  include chunk/keep

  include chunk/footer