.advantages#one
  .wrap.advantages__block
    .advantages__element 
      .advantages__icon 
        img(src="img/icon2.png", alt="#").advantages__img1
      p.advantages__title  SLEEK DESIGN
      p Lorem Ipsum is simply dummy text
        | of the printing and typesetting let. Lorem Ipsum
        | has been the industry.
    .advantages__element 
      .advantages__icon 
        img(src="img/icon3.png", alt="#").advantages__img2
      p.advantages__title  CLEAN CODE
      p Lorem Ipsum is simply dummy text
        | of the printing and typesetting let. Lorem Ipsum
        | has been the industry.
    .advantages__element 
      .advantages__icon 
        img(src="img/icon4.png", alt="#").advantages__img3
      p.advantages__title  CREATIVE IDEAS
      p Lorem Ipsum is simply dummy text
        | of the printing and typesetting let. Lorem Ipsum
        | has been the industry.
    .advantages__element 
      .advantages__icon 
        img(src="img/icon5.png", alt="#").advantages__img4
      p.advantages__title  FREE SUPPORT
      p Lorem Ipsum is simply dummy text
        | of the printing and typesetting let. Lorem Ipsum
        | has been the industry.

        
