.blog#blog
  .wrap.blog__wrap 
    p.blog__title OUR BLOG
    p Suspendisse sed eros mollis, tincidunt felis eget,
      | interdum eratullam sit amet odio.
    .divider.blog__divider
      p
  .blog__block 
    .blog__element 
      .blog__img 
        img(src="img/blog.jpg", alt="#")
      .blog__text 
        p.blog__category art / t-shirt
        p.blog__name T-SHIRT DESIGN 
        p Lorem Ipsum is simply dummy text of the
          | printing and typesetting industry. Lorem 
          |Ipsum has been the indu Stry's standard
          | dummy text ever since the 1500s, an unknown 
          |printer took a galley of type a scrambled it
          | to make a type specimen book.
        a(href="#") Read more
    .blog__element 
      .blog__img 
        img(src="img/blog2.jpg", alt="#")
      .blog__text 
        p.blog__category art / t-shirt
        p.blog__name T-SHIRT DESIGN 
        p Lorem Ipsum is simply dummy text of the
          | printing and typesetting industry. Lorem 
          |Ipsum has been the indu Stry's standard
          | dummy text ever since the 1500s, an unknown 
          |printer took a galley of type a scrambled it
          | to make a type specimen book.
        a(href="#") Read more  
    .blog__element.blog__element--reverse 
      .blog__img 
        img(src="img/blog3.jpg", alt="#")
      .blog__text 
        p.blog__category art / t-shirt
        p.blog__name T-SHIRT DESIGN 
        p Lorem Ipsum is simply dummy text of the
          | printing and typesetting industry. Lorem 
          |Ipsum has been the indu Stry's standard
          | dummy text ever since the 1500s, an unknown 
          |printer took a galley of type a scrambled it
          | to make a type specimen book.
        a(href="#") Read more 
    .blog__element.blog__element--reverse 
      .blog__img 
        img(src="img/blog4.jpg", alt="#")
      .blog__text 
        p.blog__category art / t-shirt
        p.blog__name T-SHIRT DESIGN 
        p Lorem Ipsum is simply dummy text of the
          | printing and typesetting industry. Lorem 
          |Ipsum has been the indu Stry's standard
          | dummy text ever since the 1500s, an unknown 
          |printer took a galley of type a scrambled it
          | to make a type specimen book.
        a(href="#") Read more 
