.case-study 
  .wrap
    p.case-study__title CASE STUDY 
    p A brief story about how this process works,
      | keep an eye till the end.
    .divider.case-study__divider 
      p
    .case-study__block 
      .case-study__left.ideas 
        .ideas__icon 
          img(src="img/icon4.png", alt="#").ideas__img 
        p.ideas__title ACCUMULATE CREATIVE IDEAS 
        p Lorem Ipsum is simply dummy text of the
           | printing and typesetting let. Lorem Ipsum
           | has been the industry. Lorem Ipsum is
           | simply dummy text of the printing and
           | typesetting let. Lorem Ipsum has been
           | the industry Printing and typelorem Ipsum
           | has been the setting let.
        a(href="#").ideas__btn READ MORE
      .case-study__right
        img(src="img/case-study.jpg", alt="#")

