.counts 
  .wrap.counts__block 
    .counts__element 
       .counts__circle 
         img(src="img/icon10.png", alt="#").counts__img
       p.counts__number 3891
       p User Favourites
    .counts__element 
       .counts__circle 
         img(src="img/icon11.png", alt="#").counts__img
       p.counts__number 281K
       p Posts Last 24 Hours
    .counts__element 
       .counts__circle 
         img(src="img/icon12.png", alt="#").counts__img
       p.counts__number  178
       p Campaigns
    .counts__element 
       .counts__circle 
         img(src="img/icon13.png", alt="#").counts__img
       p.counts__number 618
       p Total Posts
    .counts__element 
       .counts__circle 
         img(src="img/icon14.png", alt="#").counts__img
       p.counts__number 3891
       p Amazing Features
       

