footer.footer 
  .wrap.footer__wrap 
    .footer__left 
      ul.socials.footer__socials
        li
          a(href="#").facebook
            
        li
          a(href="#").twitter
            
        li
          a(href="#").rss
           
        li
          a(href="#").google
            
        li
          a(href="#").linkedin
            
        li
          a(href="#").t
            
        
            
    .footer__right
      p Kazi Erfan &copy; All Rights Reserved 
  