.free 
  .wrap.free__wrap
    p.free__title Let's Get Started Now. #[span It's FREE!]
    p 30 day free trial. Free plan allows up to 2
      | projects. Pay if you need more. Cancel anytime.
      | No catches.
    a.free__btn(href="#") START FREE TRIAL