.integrations 
  .wrap.integrations__wrap
  p.integrations__title GREAT INTEGRATIONS WITH OTHERS
  p Suspendisse sed eros mollis, tincidunt felis eget,
    | interdum erat. #[br] Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam nec. 
  .divider.integrations__divider
    p
  .integrations__block
    .integrations__element
      span 
        img(src="img/integration.png", alt="#")
    .integrations__element
      span 
        img(src="img/integration2.png", alt="#")
    .integrations__element
      span 
        img(src="img/integration3.png", alt="#")
    .integrations__element
      span 
        img(src="img/integration4.png", alt="#")
    .integrations__element
      span 
        img(src="img/integration5.png", alt="#")
    .integrations__element
      span 
        img(src="img/integration6.png", alt="#")
    .integrations__element
      span 
        img(src="img/integration7.png", alt="#")
    .integrations__element
      span 
        img(src="img/integration8.png", alt="#")
    .integrations__element
      span 
        img(src="img/integration9.png", alt="#")
    .integrations__element
      span 
        img(src="img/integration10.png", alt="#")