.keep 
  .wrap.keep__wrap 
    p.keep__title KEEP IN TOUCH
    p Nullam sit amet odio eu est aliquet euismod a a
      | urna. Proin eu urna suscipit, dictum quam
      | nec. 
    .divider.keep__divider 
      p 
    .keep__block 
      .keep__left
        .keep__info 
          p OUR ADDRESS
          p House #13, Streat road, Sydney 
            |2310 Australia
        .keep__info 
          p CALL US
          p + 880 168 109 1425
          p + 0216809142
        .keep__info 
          p EMAIL US 
          p
            a(href="mailto:contactus@email.com") contactus@email.com
      .keep__right
        .keep__form 
          form(action="#")
            .keep__input 
              input(type="text", name="name", required)
              label(for="name") Name
            .keep__input 
              input(type="text", name="email", required)
              label(for="email") Email
            .keep__input 
              input(type="text", name="subject", required)
              label(for="name") Subject
            .keep__textarea 
              textarea(name="text", required) 
              label(for="text") Message 
            .keep__button
              button SEND MESSAGE
