.recent#portfolio
  p.recent__title RECENT WORKS 
  p It has survived not only five centuries,
    | but also the leap scrambled it to make a type.
  .divider.recent__divider
    p 
  .recent__links
    a(href="#") ALL
    .
      /
    a(href="#") Print Design
    .
      /
    a(href="#") Animation
    .
      /
    a(href="#") Art
    .
      /
    a(href="#") Web Design
    .
      /
    a(href="#") photography
    .
      /
    a(href="#") Video
  .recent__block
    .recent__element
      a(href="#")
        img(src="img/img1.png", alt="#") 
        p
            span T-SHIRT DESIGN
            span art / t-szzhirt
    .recent__element
      a(href="#")
        img(src="img/img2.png", alt="#") 
        p
            span T-SHIRT DESIGN
            span art / t-szzhirt
    .recent__element
      a(href="#")
        img(src="img/img3.png", alt="#") 
        p
            span T-SHIRT DESIGN
            span art / t-szzhirt
    .recent__element
      a(href="#")
        img(src="img/img4.png", alt="#") 
        p
            span T-SHIRT DESIGN
            span art / t-szzhirt
    .recent__element
      a(href="#")
        img(src="img/img5.png", alt="#") 
        p
            span T-SHIRT DESIGN
            span art / t-szzhirt
    .recent__element
      a(href="#")
        img(src="img/img6.png", alt="#") 
        p
            span T-SHIRT DESIGN
            span art / t-szzhirt
    .recent__element
      a(href="#")
        img(src="img/img7.png", alt="#") 
        p
            span T-SHIRT DESIGN
            span art / t-szzhirt
    .recent__element
      a(href="#")
        img(src="img/img8.png", alt="#") 
        p
            span T-SHIRT DESIGN
            span art / t-szzhirt



