.service
  .service__block
    p.service__title OUR SERVICES 
    .service__element 
      p WEB DESIGN
      p Lorem Ipsum is simply dummy text
        | of the printing and typesetting industry.
        |  Lorem Ip sum has been the industry's
        | standard dummy text ever.
      .service__icon 
        img(src="img/icon6.png", alt="#").service__img
    .service__element 
      p PRINT DESIGN
      p Lorem Ipsum is simply dummy text
        | of the printing and typesetting industry.
        |  Lorem Ip sum has been the industry's
        | standard dummy text ever.
      .service__icon 
        img(src="img/icon7.png", alt="#").service__img  
    .service__element 
      p PHOTOGRAPHY
      p Lorem Ipsum is simply dummy text
        | of the printing and typesetting industry.
        |  Lorem Ip sum has been the industry's
        | standard dummy text ever.
      .service__icon 
        img(src="img/icon8.png", alt="#").service__img    



