.team#team
  .wrap.team__wrap
    p.team__title OUR TEAM
    p Meet the craziest team. Share your thoughts with them.
    .divider.team__divider
      p
    .team__elements
      .team__man 
        .team__img 
          img(src="img/team.jpg", alt="#")
        .team__info 
          p  Kazi Erfan 
          p UI/UX Designer 
      .team__man 
        .team__img 
          img(src="img/team2.jpg", alt="#")
        .team__info 
          p  Kazi Erfan 
          p UI/UX Designer
      .team__man 
        .team__img 
          img(src="img/team3.jpg", alt="#")
        .team__info 
          p  Kazi Erfan 
          p UI/UX Designer
      .team__man 
        .team__img 
          img(src="img/team4.jpg", alt="#")
        .team__info 
          p  Kazi Erfan 
          p UI/UX Designer
      .team__man 
        .team__img 
          img(src="img/team5.jpg", alt="#")
        .team__info 
          p  Kazi Erfan 
          p UI/UX Designer    